* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f2f2f2;
}

.counter-box {
  background: white;
  padding: 25px;
  width: 280px;
  border-radius: 8px;
  text-align: center;
  border: 1px solid #ddd;
}

.counter-box h1 {
  margin-bottom: 15px;
}

.counter-box h2 {
  margin-bottom: 20px;
  font-size: 35px;
}

input {
  width: 100%;
  padding: 8px;
  margin: 10px 0 20px;
}

.btns {
  display: flex;
  gap: 10px;
}

button {
  flex: 1;
  padding: 8px;
  border: none;
  background: black;
  color: white;
  cursor: pointer;
  border-radius: 4px;
}