body{
    font-family: Arial, Helvetica, sans-serif;
}

.counter-container{
    width: 250px;
    margin: 50px auto;
    text-align: center;
}

.title{
    margin-bottom: 15px;
}

.count-value{
    font-size: 30px;
    margin-bottom: 15px;
}

button{
    padding: 8px 12px;
    margin: 5px;
    cursor: pointer;
}